# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [1]:
data={} #empty dictionary 
type(data)

dict

In [2]:
data1=dict() #empty dictionary 
type(data1)

dict

In [5]:
data={'Alabama': "Montgomery", 
     'Arizona': 'Pheonix', 
     'Kentucky': 'Frankfort', 
     'Ohio': 'Salem'} #key:value

In [6]:
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [ ]:
data={'Alabama': "Montgomery", 
     'Arizona': 'Pheonix', 
     'Kentucky': 'Frankfort', 
     'Ohio': 'Salem'} #key:value

In [7]:
data['Kentucky']

'Frankfort'

In [8]:
data['Alabama']

'Montgomery'

In [16]:
data['Louisiana'] # if you are accessing a key which is not present, it raise key error

KeyError: 'Louisiana'

In [17]:
data.get('Arizona') #.get looking for the key to return the value

'Pheonix'

In [ ]:
data.get('Louisiana') #not generating an error

In [19]:
# update old value to new and add new key value pair
print(data)
data.update({'Kentucky': 'Louisville', 'Louisiana' : 'Baton Rouge'})

{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

In [20]:
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Kentucky': 'Louisville', 'Ohio': 'Salem', 'Louisiana': 'Baton Rouge'}

In [21]:
data.update({'alabama': 'Montgomery'}) # Only way to update key 
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Kentucky': 'Louisville', 'Ohio': 'Salem', 'Louisiana': 'Baton Rouge', 'alabama': 'Montgomery'}

### Update elements of a dictionary and add new elements

In [9]:
day={1: 'Monday',
    2: 'Tuesday', 
    4: ['Thursday', 'Friday'], 
    5: ('Saturday', 'Sunday')}

In [10]:
day[1]

'Monday'

In [11]:
day[4][1] #[key][index]

'Friday'

In [12]:
day[5][0]

'Saturday'

### Update value as key is unique and immutable, value is mutable

### Update

In [13]:
# update Sunday to Holiday 
day[5][1]='Holiday' #tuple update not possible

TypeError: 'tuple' object does not support item assignment

In [14]:
# Update Thursday to Holiday 
day[4][0]='Holiday'
day

{1: 'Monday',
 2: 'Tuesday',
 4: ['Holiday', 'Friday'],
 5: ('Saturday', 'Sunday')}

In [15]:
#Update Monday to Holiday 
day[1]='Holiday'
day

{1: 'Holiday',
 2: 'Tuesday',
 4: ['Holiday', 'Friday'],
 5: ('Saturday', 'Sunday')}

### Delete dictionary items using `del` and `pop`

In [23]:
data
del data['Alabama']

In [24]:
data

{'Arizona': 'Pheonix',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge',
 'alabama': 'Montgomery'}

In [25]:
del data['Ohio']
data

{'Arizona': 'Pheonix',
 'Kentucky': 'Louisville',
 'Louisiana': 'Baton Rouge',
 'alabama': 'Montgomery'}

In [26]:
deleted_state=data.pop('Arizona')
print("Deleted state", deleted_state)

Deleted state Pheonix

In [27]:
data

{'Kentucky': 'Louisville', 'Louisiana': 'Baton Rouge', 'alabama': 'Montgomery'}

In [28]:
# Delete Montgomery 
deleted_capitol=data.pop('alabama')
print(deleted_capitol)
print(data)

Montgomery
{'Kentucky': 'Louisville', 'Louisiana': 'Baton Rouge'}

In [29]:
del data # Deleted entire dictionary

In [30]:
data

NameError: name 'data' is not defined

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [32]:
data={'Alabama': "Montgomery", 
     'Arizona': 'Pheonix', 
     'Kentucky': 'Frankfort', 
     'Ohio': 'Salem'} #key:value

In [33]:
# number of element/value in a dicttionary 
len(data)

4

In [34]:
#Extract keys
print(data.keys())

dict_keys(['Alabama', 'Arizona', 'Kentucky', 'Ohio'])

In [35]:
#Extract value
print(data.values())

dict_values(['Montgomery', 'Pheonix', 'Frankfort', 'Salem'])

In [36]:
#item/ key value pair
print(data.items())
type(data.items())

dict_items([('Alabama', 'Montgomery'), ('Arizona', 'Pheonix'), ('Kentucky', 'Frankfort'), ('Ohio', 'Salem')])

dict_items

### Loop through a dictionary

In [37]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [38]:
# Loop through the dictionary keys
for i in data.keys(): # unpack dict items 
    print(i)
    print(type(i))

Alabama
Arizona
Kentucky
Ohio

In [39]:
# Looping through the values 
for j in data.values():
    print("The capital is: ", j)

The capital is:  Montgomery
The capital is:  Pheonix
The capital is:  Frankfort
The capital is:  Salem

In [42]:
#Looping through the dictionary item 
for k in data.items():
    print(k)
    print(type(k))

('Alabama', 'Montgomery')
<class 'tuple'>
('Arizona', 'Pheonix')
<class 'tuple'>
('Kentucky', 'Frankfort')
<class 'tuple'>
('Ohio', 'Salem')
<class 'tuple'>

In [46]:
#tuple unpacking 
for i, j in data.items():
    print("State ", i, "Capitol ", j)
    print("Capitol", j)
    print(type(i), type(j))

State  Alabama Capitol  Montgomery
Capitol Montgomery
<class 'str'> <class 'str'>
State  Arizona Capitol  Pheonix
Capitol Pheonix
<class 'str'> <class 'str'>
State  Kentucky Capitol  Frankfort
Capitol Frankfort
<class 'str'> <class 'str'>
State  Ohio Capitol  Salem
Capitol Salem
<class 'str'> <class 'str'>

### Convert dictionary values to lists using `list()` function

In [50]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [52]:
list(data.values())

['Montgomery', 'Pheonix', 'Frankfort', 'Salem']

In [53]:
tuple(data.keys())

('Alabama', 'Arizona', 'Kentucky', 'Ohio')

### A List in a Dictionary

In [13]:


favorite_language={
    'Jen': ['Python', 'ruby'], 
    'Sarah': ['C'], 
    'Edward':['ruby', 'Java'],
    'Phil': ['Python', 'Haskell']
}

In [14]:
for name, languages in favorite_language.items():
    print("\n"+name.title()+"\'s favorite lanuages are: ")
    #print(languages)
    for i in languages:
        print("\t\t\t"+i.title())

Jen's favorite lanuages are:
			Python
			Ruby

Sarah's favorite lanuages are:
			C

Edward's favorite lanuages are:
			Ruby
			Java

Phil's favorite lanuages are:
			Python
			Haskell

###  A Dictionary in a Dictionary

In [4]:
user={
    'einstein' :{
        'first': 'albert',
        'last' : 'einstein',
        'location': 'princeton'
    }, 
    'mcurie':{
        'first': 'marie',
        'last': 'curie',
        'location': 'paris'
    }
}

In [5]:
user

{'einstein': {'first': 'albert', 'last': 'einstein', 'location': 'princeton'},
 'mcurie': {'first': 'marie', 'last': 'curie', 'location': 'paris'}}

In [11]:
for username, user_info in user.items():
    print("\nUser Name: ", username)
    fullname=user_info['first']+" "+user_info['last']
    location=user_info['location']
    
    print("The full name is: "+ fullname.title())
    print("The location: ",location.title())

User Name:  einstein
The full name is: Albert Einstein
The location:  Princeton

User Name:  mcurie
The full name is: Marie Curie
The location:  Paris